* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  background: rgb(182, 181, 197);
}

:root {
  --bg-color: rgba(33, 35, 156);
}

.weather {
  height: calc(100vh - 40px);
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.weather .weather-info {
  height: calc(100vh - 40px);
  padding: 0;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
}

.weather .weather-info .content {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #fff;
  backdrop-filter: blur(1px);
}

.weather .weather-info .search {
  width: 100%;
  padding: 8px;
  outline: none;
  text-transform: capitalize;
  border-radius: 50px;
  border: 1px solid #ababab84;
  background-color: #eee;
}

.weather .weather-info .city {
  margin: 20px 0;
  font-size: 20px;
}

.weather .weather-info .img {
  margin: 10px 0;
}

.weather .weather-info .temp {
  font-size: 80px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather .weather-info p {
  font-weight: 500;
}

.weather .weather-forecast {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.weather .weather-forecast .content {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  backdrop-filter: blur(5px);
}

.weather .weather-forecast .date {
  width: 100%;
  padding: 10px 0;
}

.weather .weather-forecast .content .date h1,
.weather .weather-forecast .content .date h2 {
  font-weight: 600;
}

.weather .weather-forecast .forecast {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.weather .weather-forecast .forecast::-webkit-scrollbar {
  display: none;
}

.weather .weather-forecast .forecast .forecast-item {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.450);
  border-radius: 10px;
}

.weather .weather-forecast .forecast .forecast-item .time {
  font-size: 16px;
  font-weight: 600;
}

.weather .weather-forecast .content .highlights {
  padding: 20px 0;
}

.weather .weather-forecast .highlight-item {
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.450);
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  section {
    padding: 0;
    height: 100vh;
  }

  .weather {
    overflow: visible;
    height: 100vh;
  }

  .container {
    padding: 0;
    height: 100vh;
  }

  .weather .weather-info {
    height: 100vh;
  }
  
  .weather .weather-forecast {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .weather .weather-forecast .content {
    padding: 0 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section {
    padding: 0;
    height: auto;
  }

  .weather {
    overflow: visible;
    height: auto;
  }

  .container {
    height: auto;
  }
  
  .weather .weather-forecast,
  .weather .weather-forecast .content {
    height: auto;
  }

  .weather .weather-forecast .content {
    padding: 0 10px;
  }

  .weather .weather-forecast .content .highlights {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  section {
    padding: 0;
    height: auto;
  }

  .weather {
    overflow: visible;
    height: auto;
  }

  .container {
    height: auto;
  }
  
  .weather .weather-forecast,
  .weather .weather-forecast .content {
    height: auto;
  }

  .weather .weather-forecast .content {
    padding: 0 10px;
  }

  .weather .weather-forecast .content .highlights {
    padding: 20px 10px;
  }
}